<div class="intersection">
  <div class="traffic-light horizontal top">
    <div class="light red"></div>
    <div class="light yellow"></div>
    <div class="light green"></div>
    <button class="cross-btn">пресечи</button>
  </div>
  <div class="side-vertical left">
    <div class="traffic-light vertical">
      <div class="light red"></div>
      <div class="light yellow"></div>
      <div class="light green"></div>
      <button class="cross-btn">пресечи</button>
    </div>
  </div>
  <div class="side-vertical right">
    <div class="traffic-light vertical">
      <div class="light red"></div>
      <div class="light yellow"></div>
      <div class="light green"></div>
      <button class="cross-btn">пресечи</button>
    </div>
  </div>
  <div class="traffic-light horizontal bottom">
    <div class="light red"></div>
    <div class="light yellow"></div>
    <div class="light green"></div>
    <button class="cross-btn">пресечи</button>
  </div>
</div>